html, body {
	height: 100%;
	font-family: "Work Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Work Sans", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 16px;
	font-family: "Work Sans", sans-serif;
	color: #6a6b7c;
	font-weight: 400;
	line-height: 28px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none !important;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #fff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/
.home-bg{
	background:#F1C232;
	
}
.section-title {
	text-align: center;
}

.section-title h2 {
	font-size: 40px;
	font-weight: 700;
	color: #ffffff;
	margin-bottom: 10px;
}

.section-title p {
	font-size: 18px;
	margin-bottom: 0;
}

.eightpoint-text ul li{
	font-size: 16px;
	line-height: 30px;
	list-style: none;
	padding-left:5px;
}
.eightpoint-text ul li span {
	color: #ff9500;
	padding-right:5px;
	position:relative;
	top:2px;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.spad-2 {
	padding-top: 50px;
	padding-bottom: 70px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #ffffff;
}

.bg-gradient,
.bd-text .bd-tag-share .s-share a:hover,
.bh-text .play-btn,
.schedule-table-tab .nav-tabs .nav-item .nav-link.active,
.newslatter-inner .ni-form button,
.latest-item .li-tag,
.price-item .price-btn:hover,
.price-item .pi-price,
.price-item .tr-tag,
.schedule-tab .nav-tabs .nav-item .nav-link.active,
.site-btn {
	background: #ff9500;
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	padding: 12px 40px;
	color: #ff9500;
	text-align: center;
	border-radius: 50px;
	background: #ffffff;
	
}
.primary-btn:hover{
	color: #ffffff;
	background: #ff9500;

}

.login-btn {
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	padding: 12px 40px;
	color: #ff9500 !important;
	text-align: center;
	border-radius: 50px;
	background: #fff;
	
}
.login-btn:hover{
	color: #fff !important;
	background: #ff9500;
}


.site-btn {
	font-size: 16px;
	color: #ffffff;
	font-weight: 600;
	border: none;
	padding: 10px 40px 12px;
	border-radius: 50px;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

/*---------------------
  Header
-----------------------*/

.header-section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: #F1C232;
	overflow: hidden;
	transition: 0.4s;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 99;
	padding:22px 23px; 
	-webkit-box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.15);
}

.header-section.header-normal {
	border-bottom: 1px solid #e5e5e5;
}

.logo {
	float: left;
	padding-top:5px;
	width: 132px;
	height: 40px;
}

.logo a {
	display: inline-block;
}

.nav-menu {
	float: right;
	padding-top:8px;
	padding-bottom:8px;
}

.nav-menu .mainmenu {
	display: inline-block;
}

.nav-menu .mainmenu ul li {
	display: inline-block;
	list-style: none;
	margin-right: 40px;
	position: relative;
}

.nav-menu .mainmenu ul li .dropdown {
	position: absolute;
	width: 180px;
	background: #ffffff;
	z-index: 99;
	left: 0;
	top: 130px;
	opacity: 0;
	visibility: hidden;
	-webkit-box-shadow: 4px 13px 30px rgba(0, 0, 0, 0.15);
	box-shadow: 4px 13px 30px rgba(0, 0, 0, 0.15);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-menu .mainmenu ul li .dropdown li {
	display: block;
	margin-right: 0;
}

.nav-menu .mainmenu ul li .dropdown li a {
	padding: 8px 10px;
	display: block;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	text-transform: capitalize;
}

.nav-menu .mainmenu ul li .dropdown li a:hover {
	color: #f44949;
}

.nav-menu .mainmenu ul li .dropdown li a:after {
	display: none;
}

.nav-menu .mainmenu ul li.active a:after {
	opacity: 1;
}

.nav-menu .mainmenu ul li:hover>a:after {
	opacity: 1;
}

.nav-menu .mainmenu ul li:hover .dropdown {
	opacity: 1;
	visibility: visible;
	top: 100px;
}

.nav-menu .mainmenu ul li a {
	font-size: 16px;
	color: #2a2a2a;
	text-transform: uppercase;
	font-weight: 600;
	position: relative;
	display: inline-block;
}


.nav-menu .mainmenu ul li a:after {
	position: absolute;
	left: 0;
	bottom: -6px;
	height: 2px;
	width: 100%;
	background: #ff9500;
	content: "";
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

/* .nav-menu .primary-btn.top-btn {
	margin: 27px 0;
} */

.slicknav_menu {
	display: none;
}

/*---------------------
  Hero
-----------------------*/

.hero-section {
	padding-top: 150px;
	padding-bottom:150px;
}

.hero-section .hero-text {
	padding-top: 100px;
}

.owl-carousel .hero-text span, .hero-section .hero-text span {
	font-size: 16px;
	color: #ff9500;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.owl-carousel .hero-text h2, .hero-section .hero-text h2 {
	font-size: 60px;
	color: #ffffff;
	line-height: 72px;
	font-weight: 600;
	margin-top: 24px;
	margin-bottom: 35px;
}

/*---------------------
  Conter
-----------------------*/

.counter-section {
	padding: 40px 0;
	background: #ffffff;

}

.counter-section .counter-text h2 {
	font-size: 24px;
	color: #2a2a2a;
	text-align: center;
}
.counter-section .counter-text h3 {
	color: #2a2a2a;
	font-weight: 700;
	line-height: 38px;
	margin-top: 10px;
	text-align: center;
}

.counter-section .cd-timer {
	text-align: right;
}

.counter-section .cd-timer .cd-item {
	display: inline-block;
	text-align: center;
	margin-left: 35px;
	height: 120px;
	width: 120px;
	padding-top: 32px;
	position: relative;
}

.counter-section .cd-timer .cd-item:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 2px solid #2a2a2a;
	content: "";
	opacity: 0.1;
	border-radius: 4px;
}

.counter-section .cd-timer .cd-item:first-child {
	margin-left: 0;
}

.counter-section .cd-timer .cd-item span {
	font-size: 60px;
	color: #2a2a2a;
	font-weight: 600;
	line-height: 30px;
}

.counter-section .cd-timer .cd-item p {
	font-size: 18px;
	color: #2a2a2a;
	margin-bottom: 0;
	line-height: 30px;
}

/*---------------------
  Home About Section
-----------------------*/

.home-about-section {
	padding-bottom: 90px;
	background:#f4f6f8;
}

.ha-pic {
	margin-right: 30px;
}

.ha-pic img {
	min-width: 100%;
	border-radius: 2px;
}

.ha-text {
	padding-top: 10px;
}

.ha-text h2 {
	color: #171822;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 32px;
	text-align: center;
}

.ha-text p {
	margin-bottom: 21px;
}

.ha-text ul {
	margin-bottom: 27px;
}

.ha-text ul li {
	list-style: none;
	font-size: 16px;
	line-height: 30px;
	color: #6a6b7c;
}

.ha-text ul li span {
	color: #f44949;
}

.ha-text .ha-btn {
	font-size: 16px;
	color: #171822;
	font-weight: 600;
	position: relative;
}

.ha-text .ha-btn:before {
	position: absolute;
	left: 0;
	bottom: -6px;
	height: 2px;
	width: 100%;
	background: #f44949;
	content: "";
}

/*---------------------
  Pricing Section
-----------------------*/

.pricing-section {
	padding-top: 90px;
	padding-bottom: 80px;
}

.pricing-section .section-title {
	margin-bottom: 88px;
}

.pricing-section .section-title h2 {
	color: #ffffff;
}

.pricing-section .section-title p {
	color: #a0a1b5;
}

.price-item {
	background: #2a2a2a;

	text-align: center;
	padding-top: 34px;
	padding-bottom: 18px;
	position: relative;
	border-radius: 2px;
	margin-bottom: 40px;
}

.price-item.top-rated {
	margin-top: -36px;
}

.price-item .tr-tag {
	width: 28px;
	height: 50px;
	line-height: 38px;
	-webkit-clip-path: polygon(100% 0%, 100% 100%, 50% 65%, 0% 100%, 0% 0%);
	clip-path: polygon(100% 0%, 100% 100%, 50% 65%, 0% 100%, 0% 0%);
	position: absolute;
	right: 26px;
	top: 0;
}

.price-item .tr-tag i {
	color: #ffffff;
}

.price-item h4 {
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 26px;
}

.price-item .pi-price {
	padding-top: 1px;
	padding-bottom: 1px;
	background:#F1C232
}

.price-item .pi-price h2 {
	font-size: 60px;
	color: #ffffff;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	display: inline-block;
	position: relative;
	padding-left: 20px;
}

.price-item .pi-price h2 span {
	font-size: 30px;
	position: absolute;
	left: 0px;
	top: 9px;
}

.price-item ul li {
	list-style: none;
	font-size: 16px;
	color: #ffffff;
	line-height: 38px;
}

.price-item .price-btn {
	font-size: 16px;
	color: #171822;
	font-weight: 600;
	display: inline-block;
	background: #ffffff;
	padding: 10px 85px;
	border-radius: 50px;
	-webkit-box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
	position: relative;
	bottom: -39px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.price-item .price-btn:hover {
	/*color: #ff9500;*/
	color: #ffffff;
}

.price-item .price-btn:hover span {
	color: #ffffff;
}

.price-item .price-btn span {
	color: #ff9500;
	position: relative;
	top: 3px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

/*---------------------
  Latest Blog
-----------------------*/

.latest-blog {
	background-image:url("../img/eightpoint-bg.png");
	padding-bottom: 160px;
}

.latest-item {
	height: 255px;
	position: relative;
	margin-bottom: 40px;
	margin-left: 15px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 30px rgba(79, 84, 139, 0.15);
	box-shadow: 0px 0px 30px rgba(79, 84, 139, 0.15);
}

.latest-item.large-item {
	height: 550px;
	margin-right: 15px;
	margin-left: 0;
}

.latest-item.large-item .li-tag {
	left: 40px;
	top: 40px;
}

.latest-item.large-item .li-text {
	padding: 0 40px;
	bottom: 35px;
}

.latest-item.large-item .li-text h4 {
	margin-bottom: 17px;
}

.latest-item.large-item .li-text h4 a {
	color: #ffffff;
	font-weight: 600;
	line-height: 36px;
}

.latest-item.large-item .li-text span {
	font-size: 16px;
	color: #ffffff;
}

.latest-item.large-item .li-text span i {
	color: #f44949;
}

.latest-item .li-tag {
	font-size: 14px;
	color: #ffffff;
	display: inline-block;
	padding: 5px 18px;
	border-radius: 2px;
	position: absolute;
	left: 30px;
	top: 30px;
}

.latest-item .li-text {
	position: absolute;
	left: 0;
	bottom: 26px;
	width: 100%;
	padding: 0 30px;
}

.latest-item .li-text h5 {
	margin-bottom: 5px;
}

.latest-item .li-text h5 a {
	display: block;
	color: #ffffff;
	font-weight: 600;
	line-height: 30px;
}

.latest-item .li-text span {
	font-size: 14px;
	color: #ffffff;
}

.latest-item .li-text span i {
	color: #f44949;
}

/*---------------------
  Newslatter Section
-----------------------*/

.newslatter-section.about-newslatter .newslatter-inner {
	margin-top: 0;
}

.newslatter-inner {
	padding: 60px 70px 48px;
	overflow: hidden;
	border-radius: 2px;
	margin-top: -100px;
}

.newslatter-inner .ni-text {
	float: left;
}

.newslatter-inner .ni-text h3 {
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 8px;
}

.newslatter-inner .ni-text p {
	color: #ffffff;
	margin-bottom: 0;
}

.newslatter-inner .ni-form {
	width: 400px;
	position: relative;
	float: right;
	margin-top: 12px;
}

.newslatter-inner .ni-form input {
	width: 100%;
	height: 50px;
	font-size: 16px;
	color: #a0a1b5;
	padding-left: 20px;
	background: #ffffff;
	border-radius: 50px;
	border: none;
	padding-right: 140px;
}

.newslatter-inner .ni-form input::-webkit-input-placeholder {
	color: #a0a1b5;
}

.newslatter-inner .ni-form input::-moz-placeholder {
	color: #a0a1b5;
}

.newslatter-inner .ni-form input:-ms-input-placeholder {
	color: #a0a1b5;
}

.newslatter-inner .ni-form input::-ms-input-placeholder {
	color: #a0a1b5;
}

.newslatter-inner .ni-form input::placeholder {
	color: #a0a1b5;
}

.newslatter-inner .ni-form button {
	width: 128px;
	height: 40px;
	text-align: center;
	border: none;
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	border-radius: 50px;
	position: absolute;
	right: 5px;
	top: 5px;
}

/*---------------------
  Home Contact 
-----------------------*/

.contact-section .section-title {
	text-align: center;
	margin-bottom: 40px;
}
.contact-section{
	text-align: center;
	background:#fff;
}

.contact-section .contact-title h2{
	font-size: 40px;
	font-weight: 700;
	color:#000000;
	margin-bottom: 40px;
}
.contact-details{
	text-align: center;
}

.contact-details h2{
	font-size: 20px;
	font-weight: 700;
	color:#000000;
	margin-bottom: 10px;
}

.contact-details .contact-img{
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
	display: inline-block;
}

.contact-details p{
	font-size: 20px;
	font-family: "Work Sans", sans-serif;
	color: #6a6b7c;
	font-weight: 400;
	line-height: 28px;
	margin: 0 0 15px 0;
}


/*---------------------
  Footer
-----------------------*/

.footer-section {
	background: #F1C232;
	padding-top: 50px;
	padding-bottom: 60px;
}

.partner-logo {
	padding-bottom: 50px;
	border-bottom: 1px solid #2f3039;
}

.partner-logo .pl-table {
	display: inline-block;
	display: table;
}

.partner-logo .pl-table .pl-tablecell {
	display: table-cell;
	vertical-align: middle;
	height: 41px;
}

.ft-logo{
	width: 150px;
	height: 50px;
	display: inline-block;
}

.footer-text {
	text-align: center;
	padding-top: 30px;
}

.footer-text .ft-logo {
	margin-bottom: 20px;
}

.footer-text .ft-logo a {
	display: inline-block;
}

.footer-text ul {
	margin-bottom: 18px;
}

.footer-text ul li {
	list-style: none;
	display: inline-block;
	margin-right: 52px;
}

.footer-text ul li:last-child {
	margin-right: 0;
}

.footer-text ul li a {
	font-size: 18px;
	color: #000000;
	display: inline-block;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.footer-text ul li a:hover {
	color: #ffffff;
}

.footer-text .copyright-text {
	font-size: 14px;
	color: #000000;
	margin-bottom: 28px;
}

.footer-text .copyright-text i {
	color: #f44949;
}

.footer-text .copyright-text a {
	color: #a0a1b5;
}

.footer-text .copyright-text a:hover {
	color: #f44949;
}

.footer-text .ft-social a {
	display: inline-block;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	color: #a3a3ae;
	border: 1px solid #45464e;
	border-radius: 50%;
	margin-right: 15px;
}

.footer-text .ft-social a:last-child {
	margin-right: 0;
}

/* ----------------------------------- Other Pages Styles ------------------------------- */

/*---------------------
  Breadcrumb
-----------------------*/

.breadcrumb-section {
	padding: 75px 0 75px;
}

.breadcrumb-text {
	text-align: center;
}

.breadcrumb-text h2 {
	font-size: 40px;
	color: #171822;
	font-weight: 600;
	margin-bottom: 14px;
}

.breadcrumb-text .bt-option a {
	font-size: 18px;
	color: #6a6b7c;
	display: inline-block;
	margin-right: 25px;
	position: relative;
}

.breadcrumb-text .bt-option a:after {
	position: absolute;
	right: -17px;
	top: 2px;
	content: "";
	font-family: "FontAwesome";
}

.breadcrumb-text .bt-option span {
	display: inline-block;
	color: #a0a1b5;
}

/*---------------------
  About Section
-----------------------*/

.about-section {
	padding-top: 0;
	padding-bottom: 90px;
}

.about-section .section-title {
	text-align: left;
}

.about-section .section-title h2 {
	margin-bottom: 20px;
}

.about-section .section-title p {
	font-size: 16px;
}

.about-section .section-title p.f-para {
	margin-bottom: 20px;
}

.about-pic {
	-webkit-box-shadow: 0px 0px 30px rgba(11, 12, 48, 0.15);
	box-shadow: 0px 0px 30px rgba(11, 12, 48, 0.15);
}

.about-pic img {
	min-width: 100%;
}

.about-text {
	padding-top: 20px;
}

.about-text h3 {
	color: #171822;
	font-weight: 600;
	margin-bottom: 25px;
}

.about-text p {
	margin-bottom: 20px;
}

.about-text ul li {
	font-size: 16px;
	color: #6a6b7c;
	line-height: 30px;
	list-style: none;
}

.about-text ul li span {
	color: #f44949;
}

/*---------------------
  Story Section
-----------------------*/

.story-section {
	padding-bottom: 30px;
}

.story-section .section-title {
	text-align: left;
}

.story-section .section-title h2 {
	margin-bottom: 0;
}

.story-left {
	padding-right: 40px;
}

.story-right {
	padding-left: 40px;
}

.story-item {
	margin-bottom: 28px;
}

.story-item h2 {
	color: #f44949;
	font-weight: 600;
	float: left;
	margin-right: 30px;
	line-height: 42px;
}

.story-item .si-text {
	overflow: hidden;
}

.story-item .si-text h4 {
	color: #171822;
	font-weight: 600;
	line-height: 36px;
	margin-bottom: 14px;
}

/*---------------------
  Testimonial Section
-----------------------*/

.testimonial-section {
	padding-bottom: 40px;
	overflow: hidden;
}

.testimonial-section .section-title {
	margin-bottom: 26px;
}

.testimonial-slider .col-lg-6 {
	max-width: 100%;
}

.testimonial-slider.owl-carousel .owl-stage-outer {
	padding-bottom: 60px;
	padding-top: 30px;
}

.testimonial-slider.owl-carousel .owl-nav button {
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 30px;
	color: #171822;
	background: #f4f6f8;
	border-radius: 50%;
	position: absolute;
	left: -66px;
	top: 50%;
	-webkit-transform: translateY(-40px);
	-ms-transform: translateY(-40px);
	transform: translateY(-40px);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.testimonial-slider.owl-carousel .owl-nav button:hover {
	background: -webkit-gradient(linear, left top, right top, from(#ee8425), to(#f9488b));
	background: -o-linear-gradient(left, #ee8425, #f9488b);
	background: linear-gradient(to right, #ee8425, #f9488b);
	color: #ffffff;
}

.testimonial-slider.owl-carousel .owl-nav button.owl-next {
	left: auto;
	right: -66px;
}

.testimonial-item {
	background: #ffffff;
	-webkit-box-shadow: 0px 6px 20px rgba(11, 12, 48, 0.15);
	box-shadow: 0px 6px 20px rgba(11, 12, 48, 0.15);
	border-radius: 4px;
	position: relative;
	padding: 40px 40px 15px 40px;
}

.testimonial-item .quote-pic {
	position: absolute;
	right: 50px;
	top: 50px;
}

.testimonial-item .ti-author {
	overflow: hidden;
	margin-bottom: 22px;
}

.testimonial-item .ti-author .ta-pic {
	float: left;
	margin-right: 20px;
}

.testimonial-item .ti-author .ta-pic img {
	height: 76px;
	width: 76px;
	border-radius: 50%;
}

.testimonial-item .ti-author .ta-text {
	overflow: hidden;
	padding-top: 12px;
}

.testimonial-item .ti-author .ta-text h5 {
	font-size: 20px;
	color: #171822;
	font-weight: 600;
	margin-bottom: 5px;
}

.testimonial-item .ti-author .ta-text span {
	display: block;
	color: #f44949;
}

.testimonial-item p {
	font-size: 20px;
	color: #171822;
	line-height: 32px;
	font-weight: 500;
}

/*---------------------
  Speaker Section
-----------------------*/

.speaker-section {
	padding-top: 0;
}

.speaker-item {
	margin-bottom: 50px;
}

.speaker-item .si-pic img {
	min-width: 100%;
	border-radius: 2px;
}

.speaker-item .si-text .si-title {
	margin-bottom: 28px;
}

.speaker-item .si-text .si-title h4 {
	color: #171822;
	font-weight: 600;
	margin-bottom: 13px;
}

.speaker-item .si-text .si-title span {
	color: #f44949;
	font-size: 16px;
	display: block;
}

.speaker-item .si-text .si-social {
	margin-bottom: 24px;
}

.speaker-item .si-text .si-social a {
	display: inline-block;
	font-size: 16px;
	color: #171822;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	background: #ebebeb;
	border-radius: 50%;
	margin-right: 5px;
}

.speaker-item .si-text .si-social a:hover {
	background: -o-linear-gradient(330deg, #ee8425, #f9488b);
	background: linear-gradient(120deg, #ee8425, #f9488b);
	color: #ffffff;
}

.speaker-item .si-text p {
	color: #707070;
	line-height: 26px;
}

.load-more {
	text-align: center;
	padding-top: 10px;
}

.load-more .primary-btn {
	padding: 12px 45px;
}

/*------------------------
  Schedule Table Section
-------------------------*/

.schedule-table-section {
	padding-top: 0;
}

.schedule-table-tab .nav-tabs {
	border: none;
	border-radius: 4px;
	margin-bottom: 50px;
	-webkit-box-shadow: 3px 10px 30px rgba(74, 74, 77, 0.15);
	box-shadow: 3px 10px 30px rgba(74, 74, 77, 0.15);
}

.schedule-table-tab .nav-tabs .nav-item {
	border-right: 1px solid #e7e7e8;
	width: 20%;
	text-align: center;
}

.schedule-table-tab .nav-tabs .nav-item:last-child {
	border-right: none;
}

.schedule-table-tab .nav-tabs .nav-item .nav-link {
	padding: 22px 0;
	border: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	color: #171822;
}

.schedule-table-tab .nav-tabs .nav-item .nav-link.active {
	border-color: #e7e7e8;
	color: #ffffff;
}

.schedule-table-tab .schedule-table-content table {
	width: 100%;
	text-align: center;
	border: 1px solid #e1e1e1;
}

.schedule-table-tab .schedule-table-content table thead {
	border-bottom: 1px solid #e5e5e5;
}

.schedule-table-tab .schedule-table-content table thead tr th {
	border-right: 1px solid #e5e5e5;
	padding: 24px 0 26px;
}

.schedule-table-tab .schedule-table-content table thead tr th strong {
	font-size: 24px;
	color: #171822;
	font-weight: 600;
	margin-bottom: 8px;
}

.schedule-table-tab .schedule-table-content table thead tr th span {
	color: #f5523b;
	font-size: 16px;
	display: block;
	font-weight: 400;
}

.schedule-table-tab .schedule-table-content table tbody tr {
	border-bottom: 1px solid #e5e5e5;
}

.schedule-table-tab .schedule-table-content table tbody tr td {
	border-right: 1px solid #e5e5e5;
	width: 260px;
	height: 134px;
	padding: 37px 0 36px;
}

.schedule-table-tab .schedule-table-content table tbody tr td h5 {
	color: #171822;
	font-weight: 600;
	margin-bottom: 10px;
}

.schedule-table-tab .schedule-table-content table tbody tr td p {
	color: #171822;
	margin-bottom: 0;
}

.schedule-table-tab .schedule-table-content table tbody tr td p span {
	color: #a0a1b5;
}

.schedule-table-tab .schedule-table-content table tbody tr td.event-time {
	width: 140px;
	color: #f44949;
	font-size: 24px;
	font-weight: 600;
}

.schedule-table-tab .schedule-table-content table tbody tr td.break h5 {
	margin-bottom: 0;
}

.schedule-table-tab .schedule-table-content table tbody tr td.hover-bg:hover {
	background: -o-linear-gradient(330deg, #ee8425, #f9488b);
	background: linear-gradient(120deg, #ee8425, #f9488b);
}

.schedule-table-tab .schedule-table-content table tbody tr td.hover-bg:hover h5 {
	color: #ffffff;
}

.schedule-table-tab .schedule-table-content table tbody tr td.hover-bg:hover p {
	color: #ffffff;
}

.schedule-table-tab .schedule-table-content table tbody tr td.hover-bg:hover p span {
	color: #ffffff;
}

/*---------------------
  Blog
-----------------------*/

.blog-section {
	padding-top: 0;
}

.blog-item {
	height: 277px;
	position: relative;
	border-radius: 10px;
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 0px 30px rgba(11, 12, 48, 0.15);
	box-shadow: 0px 0px 30px rgba(11, 12, 48, 0.15);
}

.blog-item .bi-tag {
	font-size: 12px;
	font-weight: 600;
	color: #ffffff;
	display: inline-block;
	padding: 3px 20px 5px;
	border-radius: 2px;
	position: absolute;
	left: 20px;
	top: 20px;
}

.blog-item.large-item {
	height: 575px;
}

.blog-item.large-item .bi-tag {
	left: 30px;
	top: 30px;
}

.blog-item.large-item .bi-text {
	padding: 0 30px;
	bottom: 28px;
}

.blog-item .bi-text {
	position: absolute;
	left: 0;
	bottom: 18px;
	width: 100%;
	padding: 0 20px;
}

.blog-item .bi-text h5 {
	margin-bottom: 10px;
}

.blog-item .bi-text h5 a {
	color: #ffffff;
	line-height: 24px;
	font-weight: 600;
	display: block;
}

.blog-item .bi-text h3 {
	margin-bottom: 15px;
}

.blog-item .bi-text h3 a {
	font-size: 28px;
	color: #ffffff;
	font-weight: 600;
	line-height: 36px;
	display: block;
}

.blog-item .bi-text span {
	font-size: 14px;
	color: #ffffff;
	display: block;
}

.blog-item .bi-text span i {
	color: #f44949;
}

.load-more.blog-more {
	padding-top: 20px;
}

/*---------------------
  Blog Hero Section
-----------------------*/

.blog-hero-section {
	padding: 200px 0;
}

.bh-text {
	text-align: center;
}

.bh-text .play-btn {
	height: 70px;
	width: 70px;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	line-height: 79px;
}

.bh-text .play-btn i {
	color: #ffffff;
	font-size: 28px;
	margin-left: 6px;
}

.bh-text h2 {
	color: #ffffff;
	font-size: 60px;
	font-weight: 700;
	margin-top: 34px;
	margin-bottom: 14px;
}

.bh-text ul li {
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 2px;
	list-style: none;
	display: inline-block;
	margin-right: 45px;
	position: relative;
}

.bh-text ul li:after {
	position: absolute;
	right: -22px;
	top: 4px;
	height: 14px;
	width: 1px;
	background: #6e6e6e;
	content: "";
}

.bh-text ul li:last-child {
	margin-right: 0;
}

.bh-text ul li:last-child:after {
	display: none;
}

.bh-text ul li span {
	font-size: 16px;
	text-transform: capitalize;
}

.bh-text ul li span strong {
	font-weight: 600;
}

/*---------------------
  Blog Details Section
-----------------------*/

.blog-details-section {
	padding-top: 70px;
}

.bd-text .bd-title {
	margin-bottom: 28px;
}

.bd-text .bd-quote {
	position: relative;
	padding-left: 32px;
	margin-bottom: 36px;
}

.bd-text .bd-quote:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 4px;
	height: 100%;
	background: #f44949;
	content: "";
}

.bd-text .bd-quote p {
	font-size: 18px;
	color: #171822;
	font-weight: 500;
	line-height: 30px;
}

.bd-text .bd-quote span {
	font-size: 14px;
	color: #f44949;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
}

.bd-text .bd-quote img {
	position: absolute;
	right: 0;
	bottom: 0;
}

.bd-text .bd-more-text {
	margin-bottom: 32px;
}

.bd-text .bd-more-text.second-text {
	margin-bottom: 56px;
}

.bd-text .bd-more-text h4 {
	color: #171822;
	font-weight: 600;
	margin-bottom: 22px;
}

.bd-text .bd-more-pic {
	margin-bottom: 36px;
}

.bd-text .bd-more-pic img {
	min-width: 100%;
	border-radius: 2px;
}

.bd-text .bd-tag-share {
	overflow: hidden;
	border-top: 1px solid #e5e5e5;
	padding-top: 20px;
}

.bd-text .bd-tag-share .tag {
	float: left;
	margin-top: 7px;
}

.bd-text .bd-tag-share .tag a {
	display: inline-block;
	font-size: 14px;
	background: #ebebeb;
	color: #6a6b7c;
	padding: 2px 17px 4px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 2px;
	margin-right: 6px;
	margin-bottom: 5px;
}

.bd-text .bd-tag-share .tag a:hover {
	background: #f44949;
	color: #ffffff;
}

.bd-text .bd-tag-share .s-share {
	float: right;
}

.bd-text .bd-tag-share .s-share span {
	display: inline-block;
	color: #171822;
	font-size: 16px;
	margin-right: 12px;
}

.bd-text .bd-tag-share .s-share a {
	display: inline-block;
	font-size: 16px;
	color: #171822;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background: #ebebeb;
	margin-left: 11px;
	border-radius: 50%;
}

.bd-text .bd-tag-share .s-share a:hover {
	color: #ffffff;
}

/*---------------------
  Comment Section
-----------------------*/

.comment-section h3 {
	color: #171822;
	font-weight: 600;
}

.comment-form input {
	width: 100%;
	height: 46px;
	background: #f4f6f8;
	padding-left: 20px;
	padding-right: 5px;
	border: none;
	margin-bottom: 30px;
	border-radius: 2px;
	border: 1px solid transparent;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.comment-form input::-webkit-input-placeholder {
	color: #a0a1b5;
}

.comment-form input::-moz-placeholder {
	color: #a0a1b5;
}

.comment-form input:-ms-input-placeholder {
	color: #a0a1b5;
}

.comment-form input::-ms-input-placeholder {
	color: #a0a1b5;
}

.comment-form input::placeholder {
	color: #a0a1b5;
}

.comment-form input:focus {
	border: 1px solid #f44949;
	color: #171822;
}

.comment-form textarea {
	width: 100%;
	height: 120px;
	background: #f4f6f8;
	padding-left: 20px;
	border: none;
	padding-top: 12px;
	padding-right: 5px;
	margin-bottom: 32px;
	border-radius: 2px;
	border: 1px solid transparent;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	resize: none;
}

.comment-form textarea::-webkit-input-placeholder {
	color: #a0a1b5;
}

.comment-form textarea::-moz-placeholder {
	color: #a0a1b5;
}

.comment-form textarea:-ms-input-placeholder {
	color: #a0a1b5;
}

.comment-form textarea::-ms-input-placeholder {
	color: #a0a1b5;
}

.comment-form textarea::placeholder {
	color: #a0a1b5;
}

.comment-form textarea:focus {
	border: 1px solid #f44949;
	color: #171822;
}

/*---------------------
  Related Post Section
-----------------------*/

.related-post-section {
	background: #f4f6f8;
	padding-bottom: 70px;
	padding-top: 90px;
}

.related-post-section .blog-item {
	height: 350px;
}

.related-post-section .blog-item .bi-tag {
	left: 30px;
	top: 30px;
}

.related-post-section .blog-item .bi-text {
	padding: 0 30px;
	bottom: 28px;
}

.related-post-section .blog-item .bi-text h5 {
	margin-bottom: 10px;
}

.related-post-section .blog-item .bi-text h5 a {
	font-size: 20px;
	line-height: 30px;
}

/*---------------------
  Contact Top Content
-----------------------*/

.contact-content-section {
	overflow: hidden;
}

.cc-text {
	height: 580px;
	margin-left: -15px;
	margin-right: -15px;
	padding-top: 94px;
}

.cc-text .section-title {
	text-align: left;
	margin-bottom: 42px;
}

.cc-text .section-title h2 {
	color: #ffffff;
}

.cc-text .section-title p {
	color: #ffffff;
}

.cc-text .cs-text .ct-address span {
	color: #ffffff;
}

.cc-text .cs-text .ct-address p {
	color: #ffffff;
}

.cc-text .cs-text ul li {
	color: #ffffff;
}

.cc-text .cs-text ul li span {
	color: #ffffff;
}

.cc-text .cs-text .ct-links span {
	color: #ffffff;
}

.cc-text .cs-text .ct-links p {
	color: #ffffff;
}

.cc-map {
	height: 580px;
	margin-left: -15px;
	margin-right: -15px;
	position: relative;
}

.cc-map iframe {
	width: 100%;
}

.cc-map .map-hover {
	position: absolute;
	left: 50%;
	top: 260px;
	-webkit-transform: translateX(-132px);
	-ms-transform: translateX(-132px);
	transform: translateX(-132px);
}

.cc-map .map-hover i {
	font-size: 30px;
	color: #f44949;
	position: absolute;
	left: 50%;
	top: -55px;
	-webkit-transform: translateX(-9px);
	-ms-transform: translateX(-9px);
	transform: translateX(-9px);
}

.cc-map .map-hover .map-hover-inner {
	width: 264px;
	text-align: center;
	background: #ffffff;
	padding: 27px 0 11px;
	-webkit-box-shadow: 0px 0px 30px rgba(74, 101, 106, 0.2);
	box-shadow: 0px 0px 30px rgba(74, 101, 106, 0.2);
}

.cc-map .map-hover .map-hover-inner:after {
	position: absolute;
	left: 50%;
	top: -6px;
	width: 30px;
	height: 30px;
	background: #ffffff;
	content: "";
	-webkit-transform: translateX(-15px) rotate(45deg);
	-ms-transform: translateX(-15px) rotate(45deg);
	transform: translateX(-15px) rotate(45deg);
}

.cc-map .map-hover .map-hover-inner h5 {
	color: #171822;
	font-weight: 600;
	margin-bottom: 7px;
}

.cc-map .map-hover .map-hover-inner p {
	color: #171822;
}

/*---------------------
  Contact Form
-----------------------*/

.comment-form.contact-form input {
	margin-bottom: 25px;
}

.comment-form.contact-form textarea {
	height: 150px;
	margin-bottom: 42px;
}

.text-optional{
	position: absolute;
	top:10px;
	right:-4px;
}

/*-------------------------------- Respinsive Media Styles --------------------------------*/

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
	
}

@media only screen and (max-width: 1200px) {
	.text-optional{
		position:relative;
		top:0;
	}
	.logo{
		float:none;
		margin:0 auto;
		margin-bottom:10px;
	}
}

/* Medium Device: 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.nav-menu .mainmenu ul li {
		margin-right: 25px;
		color:#2a2a2a;
	}
	.hero-section .hero-text {
		padding-top: 110px;
	}
	.counter-section .cd-timer .cd-item {
		margin-left: 25px;
	}
	.ha-text {
		padding-top: 0;
	}
	.member-item {
		width: 25%;
		height: 310px;
	}
	.testimonial-slider.owl-carousel .owl-nav button {
		left: -10px;
	}
	.testimonial-slider.owl-carousel .owl-nav button.owl-next {
		right: -10px;
	}
	.newslatter-inner .ni-form {
		width: 350px;
	}
	.cc-text {
		padding-top: 65px;
	}
}

@media only screen and (max-width: 991px) {
	.schedule-tab .st-content .sc-pic {
		text-align: left;
		padding: 30px 0 0;
	}
	.schedule-tab .st-content .sc-text {
		padding: 30px 0 0;
	}
	.schedule-tab .st-content .sc-widget {
		padding: 30px 0;
	}
	.schedule-tab .st-content {
		padding-left: 30px;
	}
	.price-item.top-rated {
		margin-top: 0;
	}
	.latest-item.large-item {
		height: 550px;
		margin-right: 0;
		margin-left: 0;
	}
	.latest-item {
		margin-left: 0;
	}
	.cs-map {
		margin-top: 20px;
	}
	.about-text {
		margin-top: 30px;
	}
	.story-right {
		padding-left: 0;
	}
	.newslatter-inner .ni-text {
		float: none;
	}
	.newslatter-inner .ni-form {
		float: none;
		margin-top: 30px;
	}
	.testimonial-slider.owl-carousel .owl-nav button {
		left: -10px;
	}
	.testimonial-slider.owl-carousel .owl-nav button.owl-next {
		right: -10px;
	}
	
	.speaker-item .si-text .si-title {
		padding-top: 30px;
	}
	.bd-text .bd-more-pic img {
		margin-bottom: 10px;
	}
	.cc-text {
		padding-left: 40px;
	}
	.ha-pic {
		margin-right: 0;
	}
	.hero-section .hero-text {
		margin-bottom: 20px;
	}
}

/* Tablet Device: 768px */
@media only screen and (max-width: 991px) {
	.header-section .container{
		padding:0;
	}

	.page-title{
		margin-top:60px;
	}

	.nav-menu{
		float:none;
		padding:0;
	}
	.mainmenu .login-btn{
		position: relative;
		top:-70px;
		left:555px;
	}

}
@media only screen and (max-width: 768px) {
	.header-section{
		padding:0 !important;
	}
	.logo{
		float:left;
		margin:0 auto;
		padding-top:0px;
	}
	.header-section .container{
		padding:0;
	}
	.nav-menu{
			padding-top:8px;
	}

	.page-title{
		margin-top:20px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.nav-menu .primary-btn.top-btn {
		display: none;
	}

	.nav-menu .mainmenu ul li {
		margin-right: 20px;
		color:#2a2a2a;
		position: relative;
		top:30px;
	}
	.bh-text h2 {
		font-size: 45px;
	}
	.nav-menu .mainmenu ul li:last-child {
		margin-right: 0;
	}
	.hero-section .hero-text {
		margin-bottom: 20px;
	}
	.member-item {
		width: 33.33%;
	}
}


/* Large Mobile: 480px */

@media only screen and (max-width: 767px) {
	.header-section{
		padding:0 !important;
	}
	.header-section .logo{
		padding-top:22px;
	}
	.header-section .container{
		padding-left:15px;
		padding-right:15px;
	}

	.counter-section .cd-timer .cd-item {
		margin-bottom: 10px;
	}
	.member-item {
		width: 50%;
	}
	.newslatter-inner {
		padding: 60px 50px 48px;
	}
	.newslatter-inner .ni-form {
		width: 350px;
	}
	.footer-text ul li {
		margin-right: 15px;
	}
	.schedule-table-tab .schedule-table-content {
		overflow-x: auto;
	}
	.schedule-table-tab .nav-tabs .nav-item {
		width: 33.33%;
	}
	.bd-text .bd-tag-share .tag {
		float: none;
		margin-top: 0;
		margin-bottom: 25px;
	}
	.bd-text .bd-tag-share .s-share {
		float: none;
	}
	.slicknav_menu {
		display: block;
		background: transparent;
		padding: 0;
	}
	.nav-menu .mainmenu {
		color:#2a2a2a;
		display: none;
	}
	.nav-menu .primary-btn.top-btn {
		display: none;
	}
	.slicknav_btn {
		margin: 34px 0;
		border-radius: 0;
	}
	.slicknav_nav {
		background: #222;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		margin: 0;
		padding: 10px 20px;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}
	.slicknav_nav ul {
		margin: 0;
	}
	.slicknav_nav a:not(.login-btn):hover {
		border-radius: 0;
		background: #ff9500;
		color: #ffffff;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: #ff9500;
		color: #ffffff;
	}
	.slicknav_nav a.login-btn{
		background: #fff;
		color: #ff9500 !important;
		border-radius: 50px;
		margin:10px;
	}
	.slicknav_nav a.login-btn:hover{
		background: #ff9500;
		color: #fff !important;
	}

	.member-item .mi-text {
		left: -1000px;
	}
	.bh-text h2,
	.hero-section .hero-text h2 {
		font-size: 40px;
		line-height: normal;
	}
	.counter-section .cd-timer .cd-item {
		margin-right: 10px;
		margin-left: 0;
	}
	.counter-section .cd-timer .cd-item:last-child {
		margin-right: 0;
	}
	.testimonial-slider.owl-carousel {
		text-align: center;
	}
	.testimonial-slider.owl-carousel .owl-nav button {
		margin-top: 10px;
		position: relative;
	}
	.price-item{
		padding-bottom:34px;
	}

}

@media only screen and (max-width: 575px) {
	.row-login-type .col-sm-6{
		width:50%;
	}
	.register-container .col-sm-4, .login-container .col-sm-4{
		width:33.33%;
		float:left;
	}
}

/* Small Mobile: 320px */

@media only screen and (max-width: 479px) {
	.bh-text h2,
	.hero-section .hero-text h2 {
		font-size: 36px;
		line-height: normal;
	}
	.newslatter-inner {
		padding: 60px 20px 48px;
	}
	.counter-section .cd-timer .cd-item {
		margin-right: 10px;
		margin-left: 0;
	}
	.schedule-tab .nav-tabs .nav-item {
		width: 33.33%;
	}
	.member-item {
		width: 100%;
	}
	.newslatter-inner .ni-form {
		width: 100%;
	}
	.newslatter-inner .ni-form button {
		width: 95px;
	}
	.newslatter-inner .ni-form input {
		padding-right: 100px;
	}
	.footer-text ul li {
		margin-bottom: 10px;
	}
	.schedule-table-tab .nav-tabs .nav-item {
		width: 50%;
	}
	.cc-text {
		padding-left: 30px;
		padding-top: 35px;
	}
	.story-item h2 {
		float: none;
		margin-bottom: 10px;
	}
	.bd-text .bd-tag-share .s-share a {
		font-size: 14px;
		height: 35px;
		width: 35px;
		line-height: 35px;
		margin-left: 5px;
	}
}

@media only screen and (max-width: 380px) {

	.register-container .col-sm-4, .login-container .col-sm-4{
		width:100%;
		float:none;
	}
	.register-container .col-sm-4 .register-type, .login-container .col-sm-4 .login-type{
		float:none;
		margin:0 auto;
		margin-bottom:15px;
	}
}

/* Custom Layout */
.page-title{
	color:#111 !important;
	margin-bottom:0;
}
.login-type, .register-type{
	width:90px;
	height:90px;
	border: 1px solid #D0D5DB;
	text-align:center;
	border-radius: 5px;
	background: #F8F9FA;
}

.login-type:hover, .register-type:hover{
	border-color:#aaa;
	cursor: pointer;
}

.login-type.active,.register-type.active{
	border-color: #ff9500 !important;
	cursor:default !important;
	color:#171822;
}
.login-type.active p,.register-type.active p{
	color:#111;
}
.register-type i, .login-type i{
	font-size:35px;
	padding-top:10px;
	color:#343535;
}

.row-login-type{
border-bottom:1px solid #DFE3E7;
}
.form-request .site-btn:hover, .login-container .site-btn:hover{
 color:#F1C232;
}

.form-request input,.form-request textarea, .login-container input, .register-container input, .register-container textarea{
	background: #f4f6f8;
	border:none;
    padding-left: 20px;
	padding-right: 5px;
	border-radius: 2px;
	padding-left: 20px;
    padding-right: 5px;
    border: 1px solid transparent;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 2px;
	outline:none;
	resize: none;
	box-shadow:none !important;
}

.text-login{
	cursor: pointer;
}

.form-request textarea::-webkit-input-placeholder, .register-container textarea::-webkit-input-placeholder, .login-container input::-webkit-input-placeholder,.register-container input::-webkit-input-placeholder,.form-request input::-webkit-input-placeholder {
	color: #a0a1b5;
}

.form-request textarea::-moz-placeholder, .register-container textarea::-moz-placeholder,.login-container input::-moz-placeholder,.register-container input::-moz-placeholder,.form-request input::-moz-placeholder {
	color: #a0a1b5;
}

.form-request input:-ms-input-placeholder,.form-request textarea:-ms-input-placeholder,.register-container textarea:-ms-input-placeholder,.login-container input:-ms-input-placeholder,.register-container input:-ms-input-placeholder {
	color: #a0a1b5;
}

.form-request input::-ms-input-placeholder,.form-request textarea::-ms-input-placeholder,.register-container textarea::-ms-input-placeholder,.login-container input::-ms-input-placeholder,.register-container input::-ms-input-placeholder {
	color: #a0a1b5;
}

.form-request input::placeholder,.form-request textarea::placeholder,.register-container textarea::placeholder,.login-container input::placeholder,.register-container input::placeholder {
	color: #a0a1b5;
}

.form-request input:focus,.form-request textarea:focus,.register-container textarea:focus,.login-container input:focus,.register-container input:focus  {
	border: 1px solid #ff9500;
	color: #171822;
}

.form-request input::placeholder,.form-request textarea::placeholder,.register-container textarea::placeholder,.login-container input::placeholder,.register-container input::placeholder {
	color: #a0a1b5;
}

.form-request select:focus, .form-request input:focus,.form-request textarea:focus,.register-container textarea:focus,.login-container input:focus,.register-container input:focus {
	border: 1px solid #ff9500;
	color: #171822;
	box-shadow: none;
}
.form-request button, .form-request button:focus{
	box-shadow: none;
}

.form-request .btn-add-delivery:focus, .form-request .btn-add-delivery:active{
	outline:none !important;
	box-shadow:none !important;
}

/**Service Image**/
.service-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/headers/service-header.png");
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
  }

  .service-image .page-title{
	color: #ff9500 !important;
  }
  .service-image .eightpoint-text ul li{
	color:#fff !important;
  }


  .service-image .page-title p{
	color:#999 !important;
  }

  .md-form.checkbox .form-check{
	  margin-left:20px;
  }
/**On-Demand Image**/
.demand-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/headers/on-demand-header.png");
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
  }
  .demand-image .page-title{
	color: #ff9500 !important;
  }
  .demand-image .eightpoint-text ul li{
	color:#fff !important;
  }
  .demand-image .page-title p{
	color:#999 !important;
  }
/**Register Image**/
.register-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/headers/register-header.png");
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
  }
  .register-image .page-title{
	color: #ff9500 !important;
  }
  .register-image .eightpoint-text ul li{
	color:#fff !important;
  }
  .register-image .page-title p{
	color:#999 !important;
  }

  .login-type-client{
	  margin:0 auto;
  }

/**Carousel**/

.static {
	position: static;
}

.cover {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  }
  
  .owl-carousel .owl-slide {
	position: relative;
	height: 100vh;
	background-color: lightgray;
  }
  
  .owl-carousel .owl-slide-animated {
	transform: translateX(20px);
	opacity: 0;
	visibility: hidden;
	transition: all 0.05s;
  }
  
  .owl-carousel .owl-slide-animated.is-transitioned {
	transform: none;
	opacity: 1;
	visibility: visible;
	transition: all 0.5s;
  }
  
  .owl-carousel .owl-slide-title.is-transitioned {
	transition-delay: 0.2s;
  }
  
  .owl-carousel .owl-slide-subtitle.is-transitioned {
	transition-delay: 0.35s;
  }
  
  .owl-carousel .owl-slide-cta.is-transitioned {
	transition-delay: 0.5s;
  }
  
  .owl-carousel .owl-dots,
  .owl-carousel .owl-nav {
	position: absolute;
  }
  
  .owl-carousel .owl-dots .owl-dot,
  .owl-carousel .owl-nav [class*="owl-"]:focus {
	outline: none;
  }
  
  .owl-carousel .owl-dots .owl-dot span {
	background: transparent;
	border: 1px solid var(--main-black-color);
	transition: all 0.2s ease;
  }
  
  .owl-carousel .owl-dots .owl-dot:hover span,
  .owl-carousel .owl-dots .owl-dot.active span {
	background: var(--main-black-color);
  }
  
  .owl-carousel .owl-nav {
	left: 50%;
	top: 10%;
	transform: translateX(-50%);
	margin: 0;
  }
  
  .owl-carousel .owl-nav [class*="owl-"]:hover {
	background: transparent;
  }
  
  
  @media screen and (max-width: 575px) {
	.owl-carousel .owl-nav {
	  top: 5%;
	}
  }
/**Carousel End**/